.nav_buttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: gray;
  padding: 0 18px 0 18px;
}


.logo {
  display: flex;
  justify-content: center;
  margin-top: 250px;
}

img {
  display: block;
  width: 272px;
  height: 92px;
  margin-left: auto;
  margin-right: auto;
}


input{
  display: block;
  width: 487px;
  height: 39px;
  margin-left: auto;
  margin-right: auto;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#footer_left {
  float: left;
}

#footer_right {
  float: right;
}

.footer{
  position: fixed;
  background-color: #f2f2f2;
  border-top: 2px solid #e4e4e4;
  font: 12.5px/40px Arial;
  height: 40px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;

}